<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321746647294-hadca0ip3cmtt0b9ue4gsigjic1j7a51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321746647294-hadca0ip3cmtt0b9ue4gsigjic1j7a51</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>321746647294-iahfognpvsoeo5lmjikbu7mqlq024sum.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEze_3kQo0Df7ZjCDOmMLXeqsn31-g8pY</string>
	<key>GCM_SENDER_ID</key>
	<string>321746647294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facebook2</string>
	<key>PROJECT_ID</key>
	<string>facebook2-a06c5</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook2-a06c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321746647294:ios:0b0c8b1151b800a0a70daf</string>
</dict>
</plist>